.section1 {
    background-color: #2F4F4F;
    height: 70vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
}

.quem-somos {
    padding-top: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.quem-somos>h1 {
    font-weight: 800;
    letter-spacing: 0.8px;
    font-size: 45px;
    margin-bottom: 1.5rem;
}

.quem-somos>hr {
    width: 30rem;
    margin-bottom: 1.5rem;
    border-color: #D4A017;
}

.quem-somos>p {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2.5rem;
}

.quem-somos>button {
    background-color: #D4A017;
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    color: var(--text-color);
    font-family: var(--font-family);
    cursor: pointer;
    transition: .3s ease-in;
    font-weight: 700;
}

.img {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.img img {
    width: 100%;
    height: auto;
    display: block;
}