.section1 {
    background-color: #2F4F4F;
    height: 70vh;
}

.quem-somos {
    width: 660px;
    height: 400px;
    padding-left: 77px;
    padding-top: 80px;
}

.quem-somos>h1 {
    width: 660px;
    font-size: 45px;
    font-weight: 800;
    padding-bottom: 30px;
    line-height: 69px;
    letter-spacing: 0.8px;
}

.quem-somos>hr {
    width: 520px;
    margin-bottom: 30px;
    border-color: #D4A017;
}

.quem-somos>p {
    width: 660px;
    padding-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 29px;
}

.quem-somos>button {
    width: 140px;
    height: 43px;
    background-color: #D4A017;
    border: none;
    font-weight: bold;
    font-size: 14px;
}