.footer {
    background-color: #2d4c45; 
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    text-align: right;
    width: 40%;
    gap: 1.5rem;
}

.footer-social .social-links{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    color: #dde3d8;
    font-size: 1.3rem;
}

.logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo-img {
    width: 90%;
}

.footer-section h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: #dde3d8;
    margin-bottom: .3rem;
}

.footer-section p {
    font-size: .9rem;
    color: #dde3d8;
}
