.modal-overlay3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-container3 {
    background-color: #FFFFFF;
    border: solid 2px #DBE1E2;
    border-radius: 1vw;
    width: 36vw;
    height: 18vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content3 {
    width: 34vw;
    height: 16vw;
    border: solid 2px #DBE1E2;
    border-radius: 1vw;
    display: flex;
    justify-content: center;
    padding: 0vw 1vw 0 1vw;
}

.vouchergerado {
    color: #D4A017;
    text-align: center;
    font-size: 1.4vw;

}

.codevoucher {
    color: #4F7983;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 1vw;
    font-weight: 800;
}

.codevoucher span {
    color:#D4A017;
    font-weight: 700;
}

.itenstext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btnvoltar {
    border: none; 
    background-color: #D4A017;
    margin-top: 1.5vw;
    height: 2.3vw;
    width: 9vw;
    border-radius: 0.5vw;
    font-family: var(--font-family);
    font-weight: 800;
    color: #FFFFFF;
    letter-spacing: 0.1vw;
    cursor: pointer;
    font-size: 0.9vw;
}