/* Variáveis globais */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3B6978;
    --secondary-color: #D4A017;
    --background-color: #382821;
    --text-color: #ffffff;
    --font-family: "Montserrat", sans-serif;
    --button-padding: 8px 15px;
    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

button,
.nav-btn {
    padding: var(--button-padding);
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover,
.nav-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}